<!DOCTYPE html>
<html ng-app="admin">
<head>
<title>CS Info wiki</title>
<meta charset="UTF-8">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<!-- include libraries(jQuery, bootstrap) -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link href="component/sidebar/sidebar.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 

<!-- include summernote css/js-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-sanitize.js"></script>
<script src="https://cdn.rawgit.com/summernote/angular-summernote/master/dist/angular-summernote.min.js"></script>
<script src="index.js"></script>
<script src="service.js"></script>
<script src="component/sidebar/sidebar.js"></script>
<base href="/">
</head>

<style>
    p{
        word-break: break-all;
    }
    li{
        font-family:Microsoft JhengHei;
        font-size: 22px;
    }
    .main-block{
        width: 300px;
        padding: 0px 30px 30px 30px;
        float: left;
        overflow-y: auto;
    }
    header{
        min-width: 100%;
        background-color: purple;
        height: 150px;
        margin: 0 -30px 0 -30px;
    }
    body{
        max-height: 100vh !important;
        overflow: hidden;
    }
</style>

<body ng-controller="IndexController">
<header>
    <img src="http://www.heroesfire.com/images/wikibase/icon/talents/arcane-intellect.png" />
</header>

<div class="sideBar" ></div>
<div class="main-block">
    <span style="font-size: 32px;" ng-repeat="item in origin | orderBy:'-'"> {{item.displayName["繁體中文"] ? item.displayName["繁體中文"] : item.displayName["English"]}} {{$index < origin.length - 1 ? '>' : ''}}</span>
    <div ng-if="!noContent">
        <input ng-model="new_index_name_en" placeholder="新增子條目英文名稱" />
        <input ng-model="new_index_name_ch" placeholder="新增子條目中文名稱" />
        <button ng-click="new_index()">新增</button>
    </div>
    <div ng-bind-html="Content"></div>
    <p style="font-size: 32px;" ng-if="new_mode">此條目尚無內容，請新增</p>
    <button ng-if="!show_editblock && !new_mode" ng-click="edit_now()">編輯</button>
    <div ng-show="show_editblock && !noContent">
        <summernote ng-model="editContent"></summernote>
    </div>
    <button ng-if="!noContent" ng-show="show_editblock || new_mode" ng-click="updateContent()">submit</button>
    <div ng-if="noContent">
        <h1>歡迎來到CS info WIKI</h1>
    </div>
</div>

</body>
</html>
